/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
  /* main */
  #main_photo {
    background-position: center;
  }

  /* favorites */
  #favorites_container {
    padding-left: 15px;
    padding-right: 15px;
    grid-template-areas:
      "title title"
      "description description"
      "list_item list_item"
      "photo_first photo_second";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto 1fr;
  }
  #favorites_container h1 {
    margin: 0 auto;
    text-align: center;
  }
  #favorites_dscrptn {
    text-align: center;
    max-width: 559px;
    margin: auto;
  }
  #favorites_list {
    max-width: 588px;
    margin: auto;
    margin-bottom: 58px;
  }
  .favorites_item_heading {
    text-align: center;
  }
  .favorites_item_text {
    text-align: center;
    margin-left: 12px;
  }
  #favorites_photo_first {
    margin-right: 12px;
  }
  #favorites_photo_second {
    justify-self: flex-start;
    margin-left: 12px;
  }

  /* happiness */
  #happiness_couple_list {
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    grid-gap: 40px 24px;
  }
  #happiness_couple_container h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  /*footer*/
  #footer_container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* 768 - 1023 */
@media screen and (max-width: 1023px) {
  /* main */
  #main_photo {
    height: 600px;
  }
  /* happiness */
  #happiness_couple {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* footer */
  .logo {
    font-size: 27px;
  }
  /* 621 */
  @media screen and (max-width: 620px) {
    /* favorites */
    #favorites_container {
      grid-template-areas:
        "title"
        "description"
        "list_item"
        "photo_first"
        "photo_second";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto 1fr 1fr;
    }
    #favorites_photo_first,
    #favorites_photo_second {
      margin-right: 0;
      margin-left: 0;
      justify-self: center;
    }
    #favorites_photo_second {
      margin-bottom: 12px;
    }
  }
  /* 425 - 767 */
  @media screen and (max-width: 767px) {
    /* header  */
    #header_logo_container {
      padding: 30px 15px;
    }
    #header_menu_wrapper a:not(:last-child) {
      margin-right: 30px;
    }
    #header_menu_wrapper a {
      font-size: 11px;
    }

    /* favorites */
    #favorites_container {
      padding: 60px 15px;
    }
    #favorites_dscrptn {
      max-width: 434px;
    }
    #favorites_container h1 {
      font-size: 37px;
    }
    #favorites_list {
      text-align: center;
    }
    .favorites_item_text,
    #favorites_dscrptn {
      font-size: 14px;
    }

    /* happiness */
    #happiness_couple_container {
      padding-top: 80px;
    }
    #happiness_couple_container h2 {
      font-size: 37px;
    }
    #main_photo {
      display: none;
    }

    /* footer  */
    #footer_container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-row-gap: 10px;
    }
    #footer_info {
      order: 3;
      justify-self: center;
    }
    #footer_social {
      margin: 0 auto;
      align-self: self-end;
      order: 2;
    }
    #footer_logo {
      order: 1;
    }
    .logo {
      font-size: 20px;
    }
    .logo_dscrptn {
      font-size: 9px;
    }
  }
}
/* 375 -423 */
@media screen and (max-width: 424px) {
  /* header  */
  #header_logo_container {
    position: relative;
  }
  #header_logo {
    text-align: left;
  }
  #header_logo_dscrptn {
    text-align: left;
    margin-left: 25px;
  }
  #header_menu_wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-top: 30px;
    background: #000000de;
    top: 0;
    left: 0;
  }
  .header_menu_item {
    margin: 15px 5px;
    color: #ffffff;
  }
  #burger_menu {
    display: block;
    position: absolute;
    top: 37px;
    right: 15px;
  }
  #burger_menu svg {
    width: 36px;
    height: 36px;
    fill: rgb(153, 110, 28);
  }
  #header_menu_container.open {
    display: flex;
  }
  #header_close {
    display: block;
    width: 24px;
    height: 24px;
    fill: #ffffff;
    position: absolute;
    top: 44px;
    left: 320px;
  }
  #favorites_container h1 {
    font-size: 30px;
  }
  .favorites_item_text,
  #favorites_dscrptn {
    font-size: 13px;
  }
  #happiness_couple_container h2 {
    font-size: 30px;
  }
}
